<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  
    <div class="mb-2 b-1">
      <% if params[:tag] && !params[:tag].blank? %>
        <h1 class="font-bold text-4xl">Bookmarks Tagged <%= params[:tag].humanize %> | <%= link_to "Clear Tag Selection", bookmarks_path(filter: params[:filter]), class: "underline" %></h1>
      <% else %>
        <h1 class="font-bold text-4xl">Bookmarks</h1>
      <% end %>
    </div>

    <div class="flex justify-between items-center">

      <%= form_tag(bookmarks_path, method: :get) do %>
        <%= text_field_tag(:filter, params[:filter]) %>
        <%= hidden_field_tag(:tag, params[:tag]) %>
        <%= submit_tag "Filter", class: "inline-block rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <% end %>
      <%= link_to "Clear Filter", bookmarks_path(tag: params[:tag]), data: {turbo_frame: "_top"}, class: "rounded-lg py-3 ml-2 px-5 bg-orange-500 inline-block font-medium text-white hover:bg-orange-600" %> 

      <%= link_to "New bookmark", new_bookmark_path, data: {turbo_frame: "new_bookmark"}, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %> 
    </div>

  <%= turbo_frame_tag "new_bookmark" do %>
  <% end %>

  <div id="bookmarks" class="min-w-full">
    <%= render @bookmarks %>
  </div>
  <%= will_paginate  @bookmarks %>

</div>
